*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(255, 166, 0);
    height: 8vh;
}

#div_emblema{
    margin-left: 20px;
    height: 50px;
    width: 230px;
}

#EmblemaTopo{
    margin: 7px 0px 0px 10px;
    float: left;
}

#TextoEmb{
    padding: 19px 0px 0px 60px;
}

main{
    background-color: rgb(243, 243, 243);
    height: 92vh;
}

#TituloPost{
    text-align: center;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#MainContent{
    padding: 20vh 0 0 0;
    width: 50%;
    margin-left: 25%;
}

#DivMaior{
    background-color: white;
    height: 46vh;
    border-radius: 10px;
}

#DivLeft{
    background-color: rgb(255, 166, 0);
    width: 50%;
    height: 46vh;
    border-radius: 10px 0 0 10px;
    float: left;
}

#Modalidades{
    margin-left: 10px;
    width: 70%;
    height: 5vh;
    float: left;
}

select{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.botao{
    height: 6vh;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 5px;
    width: 20%;
}

.enviar{
    background-color: rgb(60, 168, 60);
    margin-left: 80%;
    color: white;
}

.enviar:hover{
    transition: 0.5s;
    background-color: rgb(48, 105, 48);
}

.textForm{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}

.radioForm{
    margin-left: 10px;
}

.campoForm{
    width: 70%;
    height: 5vh;
    margin-left: 10px;
}

#DivRight{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 46vh;
    border-radius: 0px 10px 10px 0px;
    margin-left: 50%;
}

/*
.formlabel{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.formcampo{
    display: flex;
}
*/
